<h1>New Message</h1>

<%= turbo_frame_tag "new_message", target: "_top" do %>
    <%= form_with(model: [ @message.room, @message ],
    data: { controller: "hello", action: "turbo:submit-end->hello#reset"}) do |form| %>
        <div class="field">
            <%= form.text_field :content %> 
            <input type="submit" value="Send">
        </div>
    <% end %>
<% end %>
<%= link_to  "Back", @message.room %> 