<h1>BananaAssign</h1>
<a href="posts_index"><h1>To Action Text</h1></a>
<a href="photos_index"><h1>To Paper Clip</h1></a>
<a href="#"><h1>Mailler</h1></a>
<a href="rooms"><h1>Chat App Hotwire</h1></a>
<a href="#"><h1>Apply page</h1></a>