<h1>BananaAssign</h1>
<a href="posts_index"><h1>To Action Text</h1></a>
<a href="photos_index" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><h1>To Paper Clip</h1></a>
<a href="rooms"><h1>Chat App Hotwire</h1></a>
<hr>
<a href="rails/conductor/action_mailbox/inbound_emails/new"><h1>Send Mail</h1></a>
<a href="rails/conductor/action_mailbox/inbound_emails"><h1>List all mail</h1></a>
